n8n/bahus_workflow_v2.json
{
  "name": "Bahus",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bakhus-pdf-import",
        "options": {
          "allowedOrigins": "https://bahus.vercel.app"
        }
      },
      "id": "6f9471b3-9a70-4cbf-bb78-180b9f64420b",
      "name": "Webhook: PDF Entry2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        420
      ],
      "webhookId": "bakhus-pdf-import"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json || {};\nconst file = $input.item.binary?.file || $input.item.binary?.data;\nconst source = body.source || 'import';\nconst importId = body.import_batch_id || body.import_id || body.quote_id || `IMP_${Date.now()}`;\nconst jobId = body.job_id || `job_${Date.now()}`;\n\nconst successUrl = body.callbackSuccessUrl || body.callbacks?.success_url;\nconst failedUrl = body.callbackFailedUrl || body.callbacks?.failed_url;\n\nif (!successUrl) {\n  throw new Error(\"Missing callbackSuccessUrl in webhook payload!\");\n}\n\nconst filename = file?.fileName || file?.name || body.filename || 'document.pdf';\nconst rawMime = (file?.mimeType || file?.mimetype || '').toLowerCase();\nconst extIsPdf = filename.toLowerCase().endsWith('.pdf');\n\n// Accept application/pdf, application/octet-stream with .pdf ext, or any missing mime with .pdf ext\nconst isPdf = rawMime === 'application/pdf' || extIsPdf || rawMime.includes('pdf');\nconst mimeType = isPdf ? 'application/pdf' : (rawMime || 'unknown');\n\nreturn {\n  json: {\n    importId,\n    jobId,\n    filename,\n    mime_type: mimeType,\n    is_pdf: isPdf,\n    callbackSuccessUrl: successUrl,\n    callbackFailedUrl: failedUrl,\n    source,\n    source_format: 'pdf'\n  },\n  binary: $input.item.binary\n};"
      },
      "id": "b3ae0ada-4afe-4575-8759-b12abdbcb14d",
      "name": "Metadata & Validation2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mime_type }}",
              "value2": "application/pdf"
            }
          ]
        }
      },
      "id": "5d9c7c9e-98b5-4730-883e-b014bff17edb",
      "name": "If: Is PDF?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        520,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const meta = $(\"Metadata & Validation2\").first().json;\nlet extractedRows = [];\nlet errorMessage = null;\n\ntry {\n  let rawText = $(\"OpenAI Assistants API\").first().json.choices[0].message.content;\n  if (rawText.includes(\"```json\")) {\n     rawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n  }\n  console.log('raw:', rawText);\n  const parsed = JSON.parse(rawText);\n  extractedRows = Array.isArray(parsed) ? parsed : (parsed.rows || []);\n} catch(e) {\n  errorMessage = \"Ошибка обработки ИИ: \" + e.message + \". Возможно, текст слишком большой или файл поврежден.\";\n}\n\nif (!errorMessage && (!extractedRows || extractedRows.length === 0)) {\n  errorMessage = \"Не удалось распознать товарные позиции. Убедитесь, что файл содержит список товаров, или что текст (кодировка) читаем, а не зашифрован как картинка.\";\n}\n\nif (errorMessage) {\n  return {\n    json: {\n      import_batch_id: meta.importId,\n      job_id: meta.jobId,\n      status: \"failed\",\n      error: errorMessage,\n      callbackFailedUrl: meta.callbackFailedUrl\n    }\n  };\n}\n\nreturn {\n  json: {\n    import_batch_id: meta.importId,\n    job_id: meta.jobId,\n    status: \"parsed\",\n    rows: extractedRows,\n    callbackSuccessUrl: meta.callbackSuccessUrl\n  }\n};"
      },
      "id": "0e43af2a-6632-4bb3-8041-becb74fefb96",
      "name": "Format Success1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.status === 'failed' ? $json.callbackFailedUrl : $json.callbackSuccessUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "5eda3ff4-2556-4472-bba5-c45acb97d526",
      "name": "Callback Success1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    import_batch_id: $input.item.json.importId,\n    job_id: $input.item.json.jobId,\n    status: \"failed\",\n    error: \"Неподдерживаемый формат: \" + $input.item.json.mime_type + \". Загрузите PDF-файл.\",\n    callbackFailedUrl: $input.item.json.callbackFailedUrl\n  }\n};"
      },
      "id": "849b01be-8fdf-4792-910f-0c6f132064d5",
      "name": "Format Error1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackFailedUrl || 'http://localhost' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "fae8375a-9cf1-40c2-aa29-8a8274825883",
      "name": "Callback Error1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        960,
        600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c60ec52e-c5fe-4f11-9257-2eec3031061c",
              "name": "openaiKey",
              "value": "={{ $env.OPENAI_API_KEY }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-api-key-node",
      "name": "Inject API Key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        420
      ]
    },
    {
      "id": "007a205a-cc94-42bd-9a43-e67394fefa22",
      "name": "Upload File to OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        860,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Inject API Key').first().json.openaiKey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "assistants"
            },
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "fc247dcf-84c8-400b-b9f5-cce1bb46889f",
      "name": "OpenAI Assistants API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        420
      ],
      "parameters": {
        "jsCode": "const meta = $(\"Metadata & Validation2\").first().json;\nconst openaiKey = $(\"Inject API Key\").first().json.openaiKey;\nif (!openaiKey) throw new Error(\"Missing OPENAI_API_KEY\");\n\n// fileId comes from the HTTP Request node that uploaded the file\nconst uploadResult = $(\"Upload File to OpenAI\").first().json;\nconst fileId = uploadResult.id;\nif (!fileId) throw new Error(\"File upload response missing id: \" + JSON.stringify(uploadResult));\n\nconst prompt = `You are a master data extractor. Extract ALL product rows from this price list into strict JSON.\nFormat: {\"rows\": [{\"name\":\"...\",\"article\":\"...\",\"qty\":1,\"purchase_price\":100,\"volume_l\":0.75,\"country\":\"...\",\"category\":\"...\",\"note\":\"...\"}]}\nRules: respond ONLY with valid JSON, no markdown fences, no explanation. If a field is unknown use null.`;\n\nconst headers = {\n  \"Authorization\": `Bearer ${openaiKey}`,\n  \"OpenAI-Beta\": \"assistants=v2\",\n  \"Content-Type\": \"application/json\"\n};\n\n// 1. Create assistant\nconst aResp = await fetch(\"https://api.openai.com/v1/assistants\", {\n  method: \"POST\", headers,\n  body: JSON.stringify({\n    name: \"BahusExtractorTemp\",\n    model: \"gpt-4o\",\n    instructions: prompt,\n    tools: [{ type: \"file_search\" }],\n    tool_resources: { file_search: { vector_stores: [{ file_ids: [fileId] }] } }\n  })\n});\nif (!aResp.ok) throw new Error(\"Create assistant failed: \" + await aResp.text());\nconst assistantId = (await aResp.json()).id;\n\nlet threadId, runId;\ntry {\n  // 2. Create thread + run (one call)\n  const runResp = await fetch(\"https://api.openai.com/v1/threads/runs\", {\n    method: \"POST\", headers,\n    body: JSON.stringify({\n      assistant_id: assistantId,\n      thread: {\n        messages: [{ role: \"user\", content: \"Extract all product rows. Return ONLY JSON.\" }]\n      },\n      response_format: { type: \"json_object\" }\n    })\n  });\n  if (!runResp.ok) throw new Error(\"Create run failed: \" + await runResp.text());\n  const runRes = await runResp.json();\n  threadId = runRes.thread_id;\n  runId = runRes.id;\n\n  // 3. Poll until completed (max 90 × 3s = 4.5 min)\n  let status = runRes.status;\n  let attempts = 0;\n  while ((status === \"queued\" || status === \"in_progress\") && attempts < 90) {\n    await new Promise(r => setTimeout(r, 3000));\n    attempts++;\n    const p = await fetch(`https://api.openai.com/v1/threads/${threadId}/runs/${runId}`, { headers });\n    const pj = await p.json();\n    status = pj.status;\n    if ([\"failed\",\"cancelled\",\"expired\"].includes(status)) {\n      throw new Error(`Run ${status}: ${JSON.stringify(pj.last_error || {})}`);\n    }\n  }\n  if (status !== \"completed\") throw new Error(`Run timed out after ${attempts} polls, status=${status}`);\n\n  // 4. Get messages\n  const msgResp = await fetch(`https://api.openai.com/v1/threads/${threadId}/messages`, { headers });\n  const msgs = await msgResp.json();\n  const block = msgs.data?.[0]?.content?.find(c => c.type === \"text\");\n  const rawText = block ? block.text.value : '{\"rows\":[]}';\n\n  // 5. Cleanup (fire & forget)\n  fetch(`https://api.openai.com/v1/assistants/${assistantId}`, { method: \"DELETE\", headers }).catch(() => {});\n  fetch(`https://api.openai.com/v1/files/${fileId}`, { method: \"DELETE\", headers: { Authorization: `Bearer ${openaiKey}` } }).catch(() => {});\n\n  return { json: { choices: [{ message: { content: rawText } }] } };\n\n} catch(e) {\n  // Cleanup on error\n  if (assistantId) fetch(`https://api.openai.com/v1/assistants/${assistantId}`, { method: \"DELETE\", headers }).catch(() => {});\n  if (fileId) fetch(`https://api.openai.com/v1/files/${fileId}`, { method: \"DELETE\", headers: { Authorization: `Bearer ${openaiKey}` } }).catch(() => {});\n  throw e;\n}",
        "mode": "runOnceForAllItems"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: PDF Entry2": {
      "main": [
        [
          {
            "node": "Metadata & Validation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata & Validation2": {
      "main": [
        [
          {
            "node": "If: Is PDF?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Is PDF?1": {
      "main": [
        [
          {
            "node": "Inject API Key",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success1": {
      "main": [
        [
          {
            "node": "Callback Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error1": {
      "main": [
        [
          {
            "node": "Callback Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Assistants API": {
      "main": [
        [
          {
            "node": "Format Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject API Key": {
      "main": [
        [
          {
            "node": "Upload File to OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI Assistants API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4735a795-0092-4673-93d2-424410b8c02a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51d051e70d2b12662cc651b60a17f803b90e11a48474f8b2af1538dc38b1641a"
  },
  "id": "3susCJ9GqBmEiNwq",
  "tags": []
}