n8n/bahus_final_workflow.json
{
  "name": "Bahus",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bakhus-pdf-import",
        "responseMode": "onReceived",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "6c1623b2-bf9a-44fa-a68f-ee2decf2446f",
      "name": "Webhook: PDF Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1360,
        180
      ],
      "webhookId": "bakhus-pdf-import"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nconst file = $input.item.binary?.file;\nconst importId = body.import_batch_id || body.import_id || body.quote_id || `IMP_${Date.now()}`;\nconst jobId = body.job_id || `job_${Date.now()}`;\nconst successUrl = body.callbackSuccessUrl || body.callbacks?.success_url || 'http://host.docker.internal:8078/api/webhooks/n8n/import-result';\nreturn {\n  json: {\n    importId,\n    jobId,\n    filename: file?.fileName || 'document.pdf',\n    callbackSuccessUrl: successUrl,\n    source_format: 'pdf'\n  },\n  binary: $input.item.binary\n};"
      },
      "id": "7aece437-32df-457e-b5af-1c4b7e4f1885",
      "name": "Metadata & Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"model\": \"gpt-4o-mini\", \"messages\": [{\"role\": \"system\", \"content\": \"Extract wine data to JSON rows.\"}, {\"role\": \"user\", \"content\": \"Process the document.\"}]}",
        "options": {}
      },
      "id": "d3f943b0-93dc-464f-86d6-11c697bf7098",
      "name": "OpenAI: Parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1800,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst meta = $(\"Metadata & Validation\").first().json;\nreturn {\n  json: {\n    import_batch_id: meta.importId,\n    job_id: meta.jobId,\n    status: \"parsed\",\n    rows: [],\n    callbackSuccessUrl: meta.callbackSuccessUrl\n  }\n};"
      },
      "id": "5b1d1ab2-54bc-41d5-ae6b-46d65d2b2e92",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackSuccessUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "1503869d-67cc-41c2-9073-7ea5bcc80d0c",
      "name": "Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2240,
        180
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: PDF Entry": {
      "main": [
        [
          {
            "node": "Metadata & Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata & Validation": {
      "main": [
        [
          {
            "node": "OpenAI: Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Parse": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b4a821f-dd06-48c2-8589-66f624c82e36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51d051e70d2b12662cc651b60a17f803b90e11a48474f8b2af1538dc38b1641a"
  },
  "id": "3susCJ9GqBmEiNwq",
  "tags": []
}