n8n/n8n_pdf_fix.json
{
  "name": "Bahus",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bakhus-pdf-import",
        "responseMode": "onReceived",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "6c1623b2-bf9a-44fa-a68f-ee2decf2446f",
      "name": "Webhook: PDF Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1360,
        180
      ],
      "webhookId": "bakhus-pdf-import"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json || {};\nconst file = $input.item.binary?.file || $input.item.binary?.data;\nconst source = body.source || 'import';\nconst importId = body.import_batch_id || body.import_id || body.quote_id || `IMP_${Date.now()}`;\nconst jobId = body.job_id || `job_${Date.now()}`;\n\nconst successUrl = body.callbackSuccessUrl || body.callbacks?.success_url;\nconst failedUrl = body.callbackFailedUrl || body.callbacks?.failed_url;\n\nif (!successUrl) {\n  throw new Error(\"Missing callbackSuccessUrl in webhook payload!\");\n}\n\nlet mimeType = 'unknown';\nif (file && file.mimeType) {\n  mimeType = file.mimeType;\n}\n\nreturn {\n  json: {\n    importId,\n    jobId,\n    filename: file?.fileName || 'document.pdf',\n    mime_type: mimeType,\n    callbackSuccessUrl: successUrl,\n    callbackFailedUrl: failedUrl,\n    source,\n    source_format: 'pdf'\n  },\n  binary: $input.item.binary\n};"
      },
      "id": "7aece437-32df-457e-b5af-1c4b7e4f1885",
      "name": "Metadata & Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mime_type }}",
              "operation": "equal",
              "value2": "application/pdf"
            }
          ]
        }
      },
      "id": "e43b12f6-abc1-1234-bcde-56781234abcd",
      "name": "If: Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        180
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file"
      },
      "id": "e6ddf912-abcd-41c2-1234-7ea5bcc80d0c",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2020,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"gpt-4o-mini\", \"messages\": [ { \"role\": \"system\", \"content\": \"You are a master data extractor. Extract all items from the requested text into a JSON array of objects. Keys to extract for each object: 'name' (string) - Full name including vintage and grape if present; 'qty' (number); 'purchase_price' (number); 'volume_l' (number) - e.g. 0.75; 'country' (string); 'category' (string); 'note' (string) - article numbers, ratings, grapes, region. Respond ONLY with a valid JSON array, no markdown.\" }, { \"role\": \"user\", \"content\": $('Extract PDF').first().json.text } ] }) }}",
        "options": {}
      },
      "id": "d3f943b0-93dc-464f-86d6-11c697bf7098",
      "name": "OpenAI: Parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2240,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const meta = $(\"Metadata & Validation\").first().json;\nlet extractedRows = [];\n\ntry {\n  let rawText = $(\"OpenAI: Parse\").first().json.choices[0].message.content;\n  if (rawText.includes(\"```json\")) {\n     rawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n  }\n  extractedRows = JSON.parse(rawText);\n} catch(e) {\n  extractedRows = [];\n}\n\nreturn {\n  json: {\n    import_batch_id: meta.importId,\n    job_id: meta.jobId,\n    status: \"parsed\",\n    rows: extractedRows,\n    callbackSuccessUrl: meta.callbackSuccessUrl\n  }\n};"
      },
      "id": "5b1d1ab2-54bc-41d5-ae6b-46d65d2b2e92",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackSuccessUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "1503869d-67cc-41c2-9073-7ea5bcc80d0c",
      "name": "Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2680,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    import_batch_id: $input.item.json.importId,\n    job_id: $input.item.json.jobId,\n    status: \"failed\",\n    error: \"Неподдерживаемый формат: \" + $input.item.json.mime_type + \". Загрузите PDF-файл.\",\n    callbackFailedUrl: $input.item.json.callbackFailedUrl\n  }\n};"
      },
      "id": "f54c93f7-5abc-41c2-b123-7ea5bcc80err",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackFailedUrl || 'http://localhost' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "g65d84a8-6bcd-52d3-c234-8fb6cdd91fcd",
      "name": "Callback Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2240,
        360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: PDF Entry": {
      "main": [
        [
          {
            "node": "Metadata & Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata & Validation": {
      "main": [
        [
          {
            "node": "If: Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Is PDF?": {
      "main": [
        [
          {
            "node": "Extract PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF": {
      "main": [
        [
          {
            "node": "OpenAI: Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Parse": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Callback Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Callback Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b4a821f-dd06-48c2-8589-66f624c82e36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51d051e70d2b12662cc651b60a17f803b90e11a48474f8b2af1538dc38b1641a"
  },
  "id": "3susCJ9GqBmEiNwq",
  "tags": []
}
